﻿<h1>Weather Forecast</h1>

<label for="city">City</label>
<input type="text" id="cityName" [(ngModel)]="cityName" />
<input type="button" value="Get Forecast" (click)="getWeatherForecast(cityName)" />

<h2>{{name}}</h2>

<div *ngIf="weatherForecast">
    <h3>Weather for {{weatherForecast.name}}</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Date</th>
            <th>Temp (C)</th>
            <th>Description</th>
            <th></th>
            <th>Min Temp</th>
            <th>Max Temp</th>
        </tr>
        <tr *ngFor="let temparature of weatherForecast.temparature">
            <td>{{temparature.dt}}</td>
            <td>{{temparature.temp}}C</td>
            <td>{{temparature.description}}</td>
            <td><img src="{{temparature.tempImageUrl}}" /></td>
            <td>{{temparature.minTemp}}C</td>
            <td>{{temparature.maxTemp}}C</td>
        </tr>
    </table>
</div>
